html {
  //font-size: 62.5%;
  margin-left: auto; margin-right: auto
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container {
  margin-left: 50px; 
  margin-right: 50px;
}

.center {
  text-align: center;
}

.padding {
  padding: 10px;
}

.left-margin {
  margin-top: 10px !important;
  margin-left: 50px !important; 
}